html::-webkit-scrollbar{
  display:none;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("img/wood.webp");
}
.container {
  height: 70vmin;
  width: 70vmin;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 50;
}
.hex-row {
  clear: left;
  width: 100%;
  height: 23%;

  display: flex;
  justify-content: center;
}
.hex {
  float: left;
  width: 19.2%;
  height: 100%;
  margin-left: 1%;
  margin-bottom: -15%;
  position:relative;
}
.back_hex {
  float: left;
  width: 75vmin;
  height: 75vmin;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 5%;
  background-color: #0384cf;
  background-image: linear-gradient(160deg, #0384cf 0%, #6db3ab 100%);  
  -moz-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}
.hex.most_left {
  margin-left: 0px;
}
.hex .top {
  height: 25%;
  width: 100%;
  clip-path: polygon(0 100%,50% 0,100% 100%);
  background-color: #6C6;
}
.hex .middle {
  /* width: 104px; */
  width: 100%;
  height: 50%;
  background: #6C6;
}
.hex .bottom {
  height: 25%;
  width: 100%;
  clip-path: polygon(0 0,50% 100%,100% 0);
  background-color: #6C6;
}

.street {
  z-index: 100;
  position: absolute;
  margin: auto;
  height: 20%;
  width: 6%;
}

.street.s_right {
  top: 0;
  bottom: 0;
  right: -5.2%;
}
.street.s_left {
  top: 0;
  bottom: 0;
  left: -5.2%;
}
.street.s_bottom_right {
  bottom: 1%;
  right: 20%;
  transform: rotate(60deg);
}
.street.s_bottom_left {
  bottom: 1%;
  left: 20%;
  transform: rotate(-60deg);
}
.street.s_top_right {
  top: 1%;
  right: 20%;
  transform: rotate(-60deg);
}
.street.s_top_left {
  top: 1%;
  left: 20%;
  transform: rotate(60deg);
}

.house {
  z-index: 100;
  position: absolute;
  margin: auto;
  height: 3vmin;
  width: 3vmin;
  border-radius: 50%;
}


.house.h_bottom {
  bottom: -1.5vmin;
  right: 0;
  left: 0;
}
.house.h_bottom_right {
  right: -2vmin;
  bottom: calc(25% - 2vmin);
}
.house.h_bottom_left {
  left: -2vmin;
  bottom: calc(25% - 2vmin);
}
.house.h_top {
  top: -1.5vmin;
  right: 0;
  left: 0;
}
.house.h_top_right {
  right: -2vmin;
  top: calc(25% - 2vmin);
}
.house.h_top_left {
  left: -2vmin;
  top: calc(25% - 2vmin);
}

.plate_number {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 34px -14px #777777;

  border: solid black 0.1px;
  color: black;
  text-align: center;
  font-size: 35px;
}


.players {
  position: absolute;
  top: 1%;
  right: 0;
  left: 0;
  margin: auto;
  height: 7vmin;
  width: 100%;
  display: flex;
  justify-content: center;
}
.p {
  height: 100%;
  width: 30%;
  -moz-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  box-sizing: border-box;
}

.me {
  position: absolute;
  height: 8vmin;
  width: 30%;
  -moz-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  bottom: 2%;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 10px;
  float: left;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.aa {
  height: 100%;
  width: 19%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}
.a_cnt {
  color: white;
  -webkit-text-stroke: 1px #FFF;
  text-stroke: 1px #FFF;
}
.a_img {
  height: 40%;
  width: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.a_img_0 {background-image: url(img/0.png);}
.a_img_1 {background-image: url(img/1.png);}
.a_img_2 {background-image: url(img/2.png);}
.a_img_3 {background-image: url(img/3.png);}
.a_img_4 {background-image: url(img/4.png);}

.select {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 200;
  height: 60%;
  width: 60%;
  opacity: 0.8;
  background-color: brown;
  border-radius: 20px;
  animation:select_animation 0.3s linear 1;
  float: left;
  display: flex;
  justify-content: center;
}
@keyframes select_animation {
  0% {
    height: 0%;
    width: 0%;
    top: 100%;
  }
  100% {
    height: 60%;
    width: 60%;
  }
}
.cards {
  height: 100%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width:25%;
  height: 40%;
  background-color: black;
  box-sizing: border-box;
  margin-left: 1%;
  margin-right: 1%;
}
.result {
  height: 100%;
  width: 30%;
  background-color: green;
}











/* サイコロ */
.dices {
  height: 15vmin;
  width: 7vmin;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 150;
}
#dice {
  width: 100%;
  height: 45%;
  transform-style: preserve-3d;
  transition: transform 1.5s ease-out;
}
#dice2 {
  width: 100%;
  height: 45%;
  margin-top: 5vmin;
  transform-style: preserve-3d;
  transition: transform 1.5s ease-out;
}


.sides{
  background-color: #EFE5DC;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
}

.dot {
  display: block;
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
}

.side-1 .dot-1 { top: 50%; left: 50%; }

.side-2 .dot-1 { top: 25%; left: 25%; }
.side-2 .dot-2 { top: 75%; left: 75%; }

.side-3 .dot-1 { top: 25%; left: 25%; }
.side-3 .dot-2 { top: 75%; left: 75%; }
.side-3 .dot-3 { top: 50%; left: 50%; }

.side-4 .dot-1 { top: 25%; left: 25%; }
.side-4 .dot-2 { top: 25%; left: 75%; }
.side-4 .dot-3 { top: 75%; left: 25%; }
.side-4 .dot-4 { top: 75%; left: 75%; }

.side-5 .dot-1 { top: 25%; left: 25%; }
.side-5 .dot-2 { top: 25%; left: 75%; }
.side-5 .dot-3 { top: 75%; left: 25%; }
.side-5 .dot-4 { top: 75%; left: 75%; }
.side-5 .dot-5 { top: 50%; left: 50%; }

.side-6 .dot-1 { top: 25%; left: 25%; }
.side-6 .dot-2 { top: 25%; left: 75%; }
.side-6 .dot-3 { top: 75%; left: 25%; }
.side-6 .dot-4 { top: 75%; left: 75%; }
.side-6 .dot-5 { top: 50%; left: 25%; }
.side-6 .dot-6 { top: 50%; left: 75%; }

#dice .side-1 {
transform: translateZ(3.5vmin);
}
#dice .side-2 {
transform: rotateX(-180deg) translateZ(3.5vmin);
}
#dice .side-3 {
transform: rotateY(90deg) translateZ(3.5vmin);
}
#dice .side-4 {
transform: rotateY(-90deg) translateZ(3.5vmin);
}
#dice .side-5 {
transform: rotateX(90deg) translateZ(3.5vmin);
}
#dice .side-6 {
transform: rotateX(-90deg) translateZ(3.5vmin);
}

#dice[data-side="1"] {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="2"] {
  transform: rotateX(360deg) rotateY(540deg) rotateZ(720deg);
}
#dice[data-side="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(720deg);
}
#dice[data-side="4"] {
  transform: rotateX(360deg) rotateY(450deg) rotateZ(720deg);
}
#dice[data-side="5"] {
  transform: rotateX(630deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="6"] {
  transform: rotateX(450deg) rotateY(360deg) rotateZ(720deg);
}

#dice[data-side="1"].reRoll {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="2"].reRoll {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
#dice[data-side="3"].reRoll {
  transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
}
#dice[data-side="4"].reRoll {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}
#dice[data-side="5"].reRoll {
  transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="6"].reRoll {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}


#dice2 .side-1 {
  transform: translateZ(3.5vmin);
  }
  #dice2 .side-2 {
  transform: rotateX(-180deg) translateZ(3.5vmin);
  }
  #dice2 .side-3 {
  transform: rotateY(90deg) translateZ(3.5vmin);
  }
  #dice2 .side-4 {
  transform: rotateY(-90deg) translateZ(3.5vmin);
  }
  #dice2 .side-5 {
  transform: rotateX(90deg) translateZ(3.5vmin);
  }
  #dice2 .side-6 {
  transform: rotateX(-90deg) translateZ(3.5vmin);
  }
  
  #dice2[data-side="1"] {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(720deg);
  }
  #dice2[data-side="2"] {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(720deg);
  }
  #dice2[data-side="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(720deg);
  }
  #dice2[data-side="4"] {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(720deg);
  }
  #dice2[data-side="5"] {
    transform: rotateX(630deg) rotateY(360deg) rotateZ(720deg);
  }
  #dice2[data-side="6"] {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(720deg);
  }
  
  #dice2[data-side="1"].reRoll {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  #dice2[data-side="2"].reRoll {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }
  #dice2[data-side="3"].reRoll {
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
  }
  #dice2[data-side="4"].reRoll {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  }
  #dice2[data-side="5"].reRoll {
    transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
  }
  #dice2[data-side="6"].reRoll {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  
  

@keyframes fadeUp {
0% {
  opacity: 0;
  bottom: 0;
}

100% {
  opacity: 1;
  bottom: 20px;
}
}


.pass {
  position: absolute;
  bottom: 20px;right: 30px;
  height: 5%;
  width: 10%;
}