html::-webkit-scrollbar{
  display:none;
}
html {
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: black;
  text-align: center;
}
.container {
  height: 70vmin;
  width: 70vmin;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 50;
}
.hex-row {
  clear: left;
  width: 100%;
  height: 23%;

  display: flex;
  justify-content: center;
}
.hex {
  float: left;
  width: 19.2%;
  height: 100%;
  margin-left: 1%;
  margin-bottom: -15%;
  position:relative;
}
.back_hex {
  float: left;
  width: 75vmin;
  height: 75vmin;
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 5%;
  background-color: #0384cf;
  background-image: linear-gradient(160deg, #0384cf 0%, #6db3ab 100%);  
  -moz-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.8);
}
.hex.most_left {
  margin-left: 0px;
}
.hex .top {
  height: 25%;
  width: 100%;
  clip-path: polygon(0 100%,50% 0,100% 100%);
  background-color: #6C6;
}
.hex .middle {
  /* width: 104px; */
  width: 100%;
  height: 50%;
  background: #6C6;
}
.hex .bottom {
  height: 25%;
  width: 100%;
  clip-path: polygon(0 0,50% 100%,100% 0);
  background-color: #6C6;
}

.street {
  z-index: 100;
  position: absolute;
  margin: auto;
  height: 20%;
  width: 6%;
}

.street.s_right {
  top: 0;
  bottom: 0;
  right: -5.2%;
}
.street.s_left {
  top: 0;
  bottom: 0;
  left: -5.2%;
}
.street.s_bottom_right {
  bottom: 1%;
  right: 20%;
  transform: rotate(60deg);
}
.street.s_bottom_left {
  bottom: 1%;
  left: 20%;
  transform: rotate(-60deg);
}
.street.s_top_right {
  top: 1%;
  right: 20%;
  transform: rotate(-60deg);
}
.street.s_top_left {
  top: 1%;
  left: 20%;
  transform: rotate(60deg);
}

.house {
  z-index: 100;
  position: absolute;
  margin: auto;
  height: 3vmin;
  width: 3vmin;
  border-radius: 50%;
}


.house.h_bottom {
  bottom: -1.5vmin;
  right: 0;
  left: 0;
}
.house.h_bottom_right {
  right: -2vmin;
  bottom: calc(25% - 2vmin);
}
.house.h_bottom_left {
  left: -2vmin;
  bottom: calc(25% - 2vmin);
}
.house.h_top {
  top: -1.5vmin;
  right: 0;
  left: 0;
}
.house.h_top_right {
  right: -2vmin;
  top: calc(25% - 2vmin);
}
.house.h_top_left {
  left: -2vmin;
  top: calc(25% - 2vmin);
}

.plate_number {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 5vmin;
  width: 5vmin;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 34px -14px #777777;

  border: solid black 0.1px;
  color: black;
  text-align: center;
  font-size: 35px;
}


.players {
  position: absolute;
  top: 1%;
  right: 0;
  left: 0;
  margin: auto;
  height: 7vmin;
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
}
.select_ {
  height: 7vmin;
  width: 30vw;
  -moz-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  background: rgb(255,208,135);
  background: linear-gradient(90deg, rgba(255,208,135,1) 0%, rgba(255,128,0,1) 100%);
}
.p {
  height: 100%;
  width: 30%;
  -moz-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  margin-left: 3%;
  margin-right: 3%;
  border-radius: 10px;
  box-sizing: border-box;
}

.me {
  position: absolute;
  height: 8vmin;
  width: 30%;
  -moz-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 2px 0px 20px 5px rgba(0, 0, 0, 0.8);
  bottom: 2%;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 10px;
  float: left;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.a {
  width: 30vw;
  height: 100%;
  display: flex;
  justify-content: center;
}
.aa {
  height: 100%;
  width: 19%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
}
.a_cnt {
  color: white;
  -webkit-text-stroke: 1px #FFF;
  -webkit-text-stroke: 1px #FFF;
}
.a_img {
  height: 40%;
  width: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.a_img_0 {background-image: url(/img/0.png);}
.a_img_1 {background-image: url(/img/1.png);}
.a_img_2 {background-image: url(/img/2.png);}
.a_img_3 {background-image: url(/img/3.png);}
.a_img_4 {background-image: url(/img/4.png);}

.select {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 200;
  height: 60%;
  width: 60%;
  background-color: brown;
  border-radius: 20px;
  animation:select_animation 0.3s linear 1;
  text-align: center;
}
.content {
  height: 25%;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cancel {
  background-color: gray;
}
@keyframes select_animation {
  0% {
    height: 0%;
    width: 0%;
    top: 100%;
  }
  100% {
    height: 60%;
    width: 60%;
  }
}
.cards {
  height: 100%;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width:25%;
  height: 40%;
  background-color: black;
  box-sizing: border-box;
  margin-left: 1%;
  margin-right: 1%;
}
.result {
  height: 100%;
  width: 30%;
  background-color: green;
}








/* サイコロ */
.dices {
  height: 15vmin;
  width: 7vmin;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 150;
}
#dice {
  width: 100%;
  height: 45%;
  transform-style: preserve-3d;
  transition: transform 1.5s ease-out;
}
#dice2 {
  width: 100%;
  height: 45%;
  margin-top: 5vmin;
  transform-style: preserve-3d;
  transition: transform 1.5s ease-out;
}


.sides{
  background-color: #EFE5DC;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.25);
}

.dot {
  display: block;
  position: absolute;
  width: 1vmin;
  height: 1vmin;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
}

.side-1 .dot-1 { top: 50%; left: 50%; }

.side-2 .dot-1 { top: 25%; left: 25%; }
.side-2 .dot-2 { top: 75%; left: 75%; }

.side-3 .dot-1 { top: 25%; left: 25%; }
.side-3 .dot-2 { top: 75%; left: 75%; }
.side-3 .dot-3 { top: 50%; left: 50%; }

.side-4 .dot-1 { top: 25%; left: 25%; }
.side-4 .dot-2 { top: 25%; left: 75%; }
.side-4 .dot-3 { top: 75%; left: 25%; }
.side-4 .dot-4 { top: 75%; left: 75%; }

.side-5 .dot-1 { top: 25%; left: 25%; }
.side-5 .dot-2 { top: 25%; left: 75%; }
.side-5 .dot-3 { top: 75%; left: 25%; }
.side-5 .dot-4 { top: 75%; left: 75%; }
.side-5 .dot-5 { top: 50%; left: 50%; }

.side-6 .dot-1 { top: 25%; left: 25%; }
.side-6 .dot-2 { top: 25%; left: 75%; }
.side-6 .dot-3 { top: 75%; left: 25%; }
.side-6 .dot-4 { top: 75%; left: 75%; }
.side-6 .dot-5 { top: 50%; left: 25%; }
.side-6 .dot-6 { top: 50%; left: 75%; }

#dice .side-1 {
transform: translateZ(3.5vmin);
}
#dice .side-2 {
transform: rotateX(-180deg) translateZ(3.5vmin);
}
#dice .side-3 {
transform: rotateY(90deg) translateZ(3.5vmin);
}
#dice .side-4 {
transform: rotateY(-90deg) translateZ(3.5vmin);
}
#dice .side-5 {
transform: rotateX(90deg) translateZ(3.5vmin);
}
#dice .side-6 {
transform: rotateX(-90deg) translateZ(3.5vmin);
}

#dice[data-side="1"] {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="2"] {
  transform: rotateX(360deg) rotateY(540deg) rotateZ(720deg);
}
#dice[data-side="3"] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(720deg);
}
#dice[data-side="4"] {
  transform: rotateX(360deg) rotateY(450deg) rotateZ(720deg);
}
#dice[data-side="5"] {
  transform: rotateX(630deg) rotateY(360deg) rotateZ(720deg);
}
#dice[data-side="6"] {
  transform: rotateX(450deg) rotateY(360deg) rotateZ(720deg);
}

#dice[data-side="1"].reRoll {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="2"].reRoll {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
#dice[data-side="3"].reRoll {
  transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
}
#dice[data-side="4"].reRoll {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}
#dice[data-side="5"].reRoll {
  transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
}
#dice[data-side="6"].reRoll {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}


#dice2 .side-1 {
  transform: translateZ(3.5vmin);
  }
  #dice2 .side-2 {
  transform: rotateX(-180deg) translateZ(3.5vmin);
  }
  #dice2 .side-3 {
  transform: rotateY(90deg) translateZ(3.5vmin);
  }
  #dice2 .side-4 {
  transform: rotateY(-90deg) translateZ(3.5vmin);
  }
  #dice2 .side-5 {
  transform: rotateX(90deg) translateZ(3.5vmin);
  }
  #dice2 .side-6 {
  transform: rotateX(-90deg) translateZ(3.5vmin);
  }
  
  #dice2[data-side="1"] {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(720deg);
  }
  #dice2[data-side="2"] {
    transform: rotateX(360deg) rotateY(540deg) rotateZ(720deg);
  }
  #dice2[data-side="3"] {
    transform: rotateX(360deg) rotateY(630deg) rotateZ(720deg);
  }
  #dice2[data-side="4"] {
    transform: rotateX(360deg) rotateY(450deg) rotateZ(720deg);
  }
  #dice2[data-side="5"] {
    transform: rotateX(630deg) rotateY(360deg) rotateZ(720deg);
  }
  #dice2[data-side="6"] {
    transform: rotateX(450deg) rotateY(360deg) rotateZ(720deg);
  }
  
  #dice2[data-side="1"].reRoll {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  #dice2[data-side="2"].reRoll {
    transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  }
  #dice2[data-side="3"].reRoll {
    transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
  }
  #dice2[data-side="4"].reRoll {
    transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
  }
  #dice2[data-side="5"].reRoll {
    transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
  }
  #dice2[data-side="6"].reRoll {
    transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
  }
  
  

@keyframes fadeUp {
0% {
  opacity: 0;
  bottom: 0;
}

100% {
  opacity: 1;
  bottom: 20px;
}
}



.home {
  height: 100%;
  width: 100%;
  background: rgb(191,145,3);
  background: linear-gradient(0deg, rgba(191,145,3,1) 0%, rgba(252,71,0,1) 100%);
  transition: all 2.0s;
  opacity: 1.0;
}

.home_img {
  background-image: url("/img/yasi.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 100%;
  width: 100%;
  position: absolute;
  
}
.home_sun {
  position: absolute;
  right: 50%;
  bottom: 0;
  margin: auto;
  height: 40vmin;
  width: 40vmin;
  border-radius: 50%;
  background-color: rgb(245, 104, 65);
  box-shadow: -20px -10px 50px 5px rgba(0, 0, 0, .5) inset;
}
.home_box {
  height: 100%;
  width:50%;
  position: absolute;
  right: 0;
  text-align: center;
}
.logo {
  font-family: 'Abel';
  color: orange;
  -webkit-text-stroke: 0.1px black;
  -webkit-text-stroke: 0.1px black;
}
h1 {
  font-size: 150px;
  margin-bottom: -10%;
}
h3 {
  font-size: 50px;
}
.button {
  background: #d925c7;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 6px 0 #13576e, 0 5px 15px -4px #000;
  color: #fff;
  cursor: pointer;
  font-family: roboto;
  font-size: 20px;
  font-weight: 800;
  height: 10%;
  width: 30%;
  padding: 5px;
  text-transform: uppercase;
  transition: box-shadow 0.2s ease-in-out, margin-top 0.2s ease-in-out,
    opacity 0.2s ease-in-out;
  width: 150px;
}
.button:hover,
.button:focus {
  opacity: 0.9;
  outline: 0;
}
.button:active {
  box-shadow: none;
  margin-top: 6px;
}
.spinner {
  width: 32px;
  height: 32px;
  margin: 10px auto;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 1.0s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.game {
  height: 100%;
  width: 100%;
  position: relative;
  background-image: url("/img/wood.webp");
}
.alert_box {
  position: absolute;
  height: 10%;
  width: 30%;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  z-index: 10000;
}
@keyframes alert_a {
  from {
    opacity: 0.0;
  }
  to {
    opacity: 1.0;
  }
}
@keyframes alert_b {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0.0;
  }
}

.ribbon9 {
  display: inline-block;
  position: relative;
  height: 45px;
  text-align: center;
  box-sizing: border-box;
}
.ribbon9:before {/*左側のリボン端*/
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  left: -35px;
  z-index: -2;
  border: 20px solid #56adf3;
  border-left-color: transparent;/*山形に切り抜き*/
}

.ribbon9:after {/*右側のリボン端*/
  content: '';
  position: absolute;
  width: 10px;
  bottom: -10px;
  right: -35px;
  z-index: -2;
  border: 20px solid #56adf3;
  border-right-color: transparent;/*山形に切り抜き*/
}

.ribbon9 h3 {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 20px;
  line-height: 45px;
  font-size: 18px;
  color: #FFF;
  background: #2196F3;/*真ん中の背景色*/
}
.ribbon9 h3:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-right: solid 15px #397eb5;/*左の折り返し部分*/
}
.ribbon9 h3:after {
  position: absolute;
  content: '';
  top: 100%;
  right: 0;
  border: none;
  border-bottom: solid 10px transparent;
  border-left: solid 15px #397eb5;/*右の折り返し部分*/
}

.buttons {
  position: absolute;
  height: 7%;
  width: 20%;
  bottom: 3%;
  right: 5%;
  display: flex;
  justify-content: center;
}
.change_button{
  height: 100%;
  width: 47%;
  margin-left: 6%;
}
.pass {
  height: 100%;
  width: 47%;
}
.change_message {
  font-family: 'Abel';
  color: orange;
  -webkit-text-stroke: 0.1px black;
  -webkit-text-stroke: 0.1px black;
  height: 7%;
  width: 100%;
  font-size: 30px;
}
.change_content {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}
.change_img {
  box-sizing: border-box;
  height: 40%;
  width: 30%;
  margin: 1%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.now_select {
  height: 15%;
  width: 10%;
  position: absolute;
  right: 14vmin;
  top: 0;
  bottom: 0;
  margin: auto;
}
.now_select_button {
  height: 60%;
  width: 100%;
}
.now_select_logo {
  font-family: 'Abel';
  color: orange;
  -webkit-text-stroke: 0.1px black;
  -webkit-text-stroke: 0.1px black;
  height: 30%;
  width: 100%;
  font-size: 30px;
  margin-bottom: 2%;
}
.card7_top {
  height: 20%;
  width: 100%;
  text-align: center;
  position: relative;
}
.card7_bottom {
  height: 80%;
  width: 100%;
}
.cards7 {
  height: 20%;
  width: 100%;
  display: flex;
}
.card7_button{
  height: 60%;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.card7_img{
  height: 80%;
  margin-left: 1px;
  width: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}